# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.DotnetExamConsole.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Rider Projects\DotnetExamConsole\.idea\.idea.DotnetExamConsole\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
